{% extends "base.html" %}

{% block content %}



  <h1 class="titulos">Contacto</h1>
  <hr>
  <br>
<div class="contenedor-contacto">
  

  <div class="container-1">
    <div class="row text-justify">
      <div class="col-md-12">

        <p><B>OFICINAS DE APOYO MONTERREY</B></p>
        <p>Av. Alejandro de Rodas 3102-A </br> Col. Cumbres 8vo Sector C.P. 64610, </br>Monterrey Nuevo León </br> Tel.
          (01) 81 8329-9000 </p>

        <p><B>OFICINAS DE APOYO MÉXICO</B></p>
        <p>Av. Adolfo López Mateos 201 </br>entre Cerro de Tizoc y Jardines de San Mateo, C.P. 53140 ,</br> Naucalpan de
          Juárez, México, Edo. de México </br> Tel. (01) 55 5375-9000 </p>

      </div>
    </div>
  </div>
  
  <div class="container-2">
    <form action="">
      <div class="row">
        
        <div class="col-10 mb-2">
          <input class="form-control" type="text" placeholder="Nombre completo">
        </div>
        <br>
        <div class="col-10 mb-2">
          <input class="form-control" type="email" placeholder="Correo">
        </div>
        <br>
        <div class="col-10 mb-2">
          <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
        </div>
        <br>
        <div class="col-3">
          <button type="button" class="btn btn-outline-danger" id="btn-contacto">Enviar</button>
        </div>

      </div>
    </form>
  </div>


</div>





{% endblock %}