{% extends "base.html" %}

{% block content %}
  <div class="contenedor-nosotros">
    <h1 class="titulos">Acerca de Nosotros</h1>
    <hr>
    <br>
    <div class="row">
      <div class="col-lg-8">

        <p>
  
          Somos una Empresa mexicana líder del sector comercial del país; nuestros inicios se remontan al año de 1968 en la ciudad de Torreón, Coahuila.
  
        </p>
  
        <p>
  
          Nuestras acciones representativas del capital social cotizan en la Bolsa Mexicana de Valores desde 1987 con la clave de pizarra <b>Soriana</b>.
  
        </p>
  
        <p>
  
          Siguiendo una estrategia multiformato, operamos más de <b>802 tiendas</b> de autoservicio y clubes de precio. Comercializamos una extensa y completa línea de alimentos, ropa, mercancías generales, productos para la salud y servicios básicos, satisfaciendo de esta manera las necesidades específicas de consumo de nuestros diferentes grupos de clientes.
  
        </p>
  
        <p>
  
          Actualmente estamos presentes en <b>282 municipios</b> a lo largo de los 32 estados de México. Con más de 4 millones de metros cuadrados de piso de venta distribuidos a lo largo de nuestros formatos de tienda.
  
        </p>
  
        <p>
  
          Nuestra red logística está compuesta por 14 Centros de Distribución ubicados estratégicamente en 8 estados del país.
  
        </p>
  
        <p>
  
          Nuestra fuerza laboral está conformada por más de 87,000 colaboradores y nuestras oficinas centrales de apoyo a tiendas, se encuentran ubicadas en la ciudad de Monterrey, N.L.
  
        </p>
  
        <p>
  
          <small>
  
          *Última actualización: febrero 2023&nbsp; </small>
  
        </p>
      </div>
      <div  class="col-lg-4">
        <img src="../static/img/img_nosotros2.png" alt="nosotros" width="100%">
      </div>
    </div>
  </div>

{% endblock %}