{% extends "base.html" %}

{% block content %}

    {% from '_macros.html' import product_card %}

    <h1 class="titulos">Productos</h1>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            {% for producto in productos %}
                <div class="col-md-3 mb-3">
                    {{ product_card(producto.imagen, producto.nombreProducto, producto.marca, producto.precio) }}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}