{% extends "base.html" %}

{% block content %}
<div class="container" id="contenedor-login">
    <i class="fa-solid fa-user" id="icon-user"></i>
    <br>
    <h3 class="title">Inicia sesión</h3>
    <br>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/security/login">
            <div class="field">
                <div class="control">
                    <input class="form-control" type="email" name="email" placeholder="Correo" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="form-control" type="password" name="password" placeholder="Contraseña">
                </div>
            </div>
            <br>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Recuerdame
                </label>
            </div>
            <br>
            <button class="btn-login" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}