{% extends "base.html" %}

{% block content %}
<div class="container" id="contenedor-login">
    <i class="fa-solid fa-address-card" id="icon-register"></i>
    <br>
    <h3 class="title">Registro</h3>
    <br>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/security/register">
            <div class="field">
                <div class="control">
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="form-control" type="text" name="name" placeholder="Nombre" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <br>
            <button class="btn-register" type="submit">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}